body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0b141a, #111b21);
  color: white;
}

/* Center login */
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.logo {
  font-size: 40px;
  color: #00a884;
}

input {
  padding: 12px;
  margin: 10px;
  border-radius: 20px;
  border: none;
  width: 70%;
}

button {
  padding: 12px;
  border: none;
  border-radius: 20px;
  background: #00a884;
  color: white;
  font-size: 16px;
}

/* Chat Page */
#chatPage {
  display: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: #202c33;
  padding: 10px;
  text-align: center;
}

#chatBox {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

/* Chat bubbles */
.message {
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  max-width: 70%;
  animation: fadeIn 0.3s ease;
}

.sent {
  background: #00a884;
  margin-left: auto;
}

.received {
  background: #202c33;
  margin-right: auto;
}

/* Input area */
.inputArea {
  display: flex;
  padding: 10px;
  background: #202c33;
}

.inputArea input {
  flex: 1;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1;}
}