body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0b141a, #111b21);
  color: white;
}

/* Auth box */
.authBox {
  width: 90%;
  max-width: 350px;
  margin: auto;
  margin-top: 80px;
  text-align: center;
}

h1 {
  color: #00a884;
}

.tabs button {
  margin: 5px;
  padding: 10px;
  border: none;
  background: #202c33;
  color: white;
  border-radius: 10px;
}

input {
  width: 90%;
  padding: 12px;
  margin: 8px;
  border-radius: 20px;
  border: none;
}

button {
  padding: 12px;
  border: none;
  border-radius: 20px;
  background: #00a884;
  color: white;
}

/* Chat */
#chatPage {
  display: none;
  height: 100vh;
  flex-direction: column;
}

.header {
  background: #202c33;
  padding: 10px;
  text-align: center;
}

#chatBox {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  max-width: 70%;
}

.sent {
  background: #00a884;
  margin-left: auto;
}

.received {
  background: #202c33;
}

.inputArea {
  display: flex;
  padding: 10px;
  background: #202c33;
}

.inputArea input {
  flex: 1;
}
